<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>健康监测系统</title>
    </head>
    <style type="text/css">
        tr{
            font-size:20px;
            font-weight:bold;
            background-color:#CCC;
            color:#000;
        }
        body{
            background-image:url(images/193885.jpg);
            background-repeat:repeat-x;
            background-position:bottom;
        }
        table{
            margin-left:75px;
            vertical-align:middle;}
            canvas{
                    margin-top:-200px;
            }
    </style>

    <body>
        <p align="center"><font face="黑体" font size="10">健康监测系统 </font></p>
        <p align="center"><font face="楷体" font size="5">时时刻刻<br/>守护您的健康</font></p>
        <table width="900px" border="1" bordercolor="#999999"  cellpadding="1px" cellspacing="0 px" >
            <tr valign="middle" align="center">
                <td width="500" bgcolor="#CCC" >序号</td>
                <td width="500"  > 体温</td>
                <td width="500"  > 心率</td>
                <td width="500"  > 体重</td>
                <td width="500"  > 酒精</td>
                <td width="1200"  > 时间</td>
            </tr>

            {{#all_info}}
            <tr valign="middle" align="center">
                <td bgcolor="#FFFFFF">{{seq}} </td>
                <td>{{temperature}}</td>
                <td>{{heartrate}}</td>
                <td>{{weight}}</td>
                <td>{{alcohol}}</td>
                <td>{{time}}</td>
            </tr>
            {{/all_info}}
        </table>
        <canvas id="chart" height="400" width="600" style="margin:50px"> 你的浏览器不支持HTML5 canvas </canvas>
    </body>
</html>
