<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <style type="text/css">a {text-decoration: none}</style> 
    </head>
    <title> all_info </title>
    <body>
        <h1>{{mac}}&#160;&#160;&#160;&#160;temperature&#160;&#160;&#160;&#160;heartrate&#160;&#160;&#160;&#160;</h1>
        {{#all_info}}
            <div>
               &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{{temperature}}&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{{heartrate}}&#160;&#160;&#160;&#160;&#160;
            </div>
        {{/all_info}}
    </body>
</html>


